* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

canvas {
  background-color: #9ab286;
  border: 1px solid #000;
  font-family: "VT323", monospace;
}

#title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.panel {
  display: grid;
  grid-template-columns: 1fr 22px;
  align-items: center;
  color: #fff;
  margin-bottom: 2px;
  padding: 2px 10px;
}

.container {
  width: 340px;
  margin: 10px auto 0;
}

#board {
  background-color: #9ab286;
  border-radius: 4px;
  padding: 8px 8px 6px;
}

#instructions {
  grid-template-rows: 30px 180px 98px;
  background-color: #9ab286;
  font-family: "Montserrat", sans-serif;
  padding-top: 16px;
  display: none;
}

#instructions ul {
  list-style: none;
  font-size: 0.8rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 8px 16px;
}

#instruction-title {
  text-align: center;
}

#close-instructions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 32px;
}

#stats {
  display: flex;
  justify-content: space-between;
}

#score,
#level {
  font-family: "VT323", monospace;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

.controls-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #f5f5f5;
  margin: 5px 0;
  padding: 10px 0;
}

.control {
  background-color: #444;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #999;
  border-top: 2px solid #999;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  color: #fff;
  padding: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#btn-up {
  grid-column: 2;
}

#btn-left {
  grid-row: 2;
}

#btn-right {
  grid-row: 2;
  grid-column: 3;
}

#btn-down {
  grid-row: 3;
  grid-column: 2;
}

.far {
  font-size: 1.25rem;
  text-align: right;
  cursor: pointer;
}

.panel,
#speed-control {
  background-color: #333333;
}

#speed-control {
  display: grid;
  grid-template-columns: repeat(3, 36px 50px);
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  color: #fff;
  margin-top: 2px;
  padding: 10px 0;
}

.instruction {
  list-style: none;
  font-family: "Roboto Mono", monospace;
  font-size: 0.7rem;
  line-height: 1.25rem;
  color: #fff;
  padding: 0;
}

/* @media (max-width: 340px) {
  .container {
    margin: 0 auto;
  }
  .panel {
    margin-bottom: 1px;
  }
  #speed-control {
    margin-top: 1px;
  }
  .controls-wrapper {
    margin: 1px 0;
  }
} */

@media only screen and (max-device-width: 340px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    margin: 0 auto;
  }
  .panel {
    margin-bottom: 1px;
  }
  #speed-control {
    margin-top: 1px;
  }
  .controls-wrapper {
    margin: 1px 0;
  }
}
