* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'VT323';
  src: url('../fonts/vt323-regular-webfont.woff2') format('woff2'),
       url('../fonts/vt323-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  margin: 20px auto;
}

#nokia-skin {
  background-image: url("https://res.cloudinary.com/rahbuh/image/upload/v1620615401/nokia_shell_f0o5km.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 440px;
  height: 1036px;
  font-family: "VT323", monospace;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 20%);
}

#board {
  height: 500px; 
  padding-top: 270px;
  display: block;
}

canvas {
  background-color: hsl(98, 9%, 60%);
  border: 1px solid hsl(98, 9%, 50%);
}

#stats {
  display: flex;
  justify-content: space-evenly;
}

#score,
#level {
  margin: 0;
}

.info-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 10px 0;
}

#instructions {
  background-color: hsl(98, 9%, 60%);
  line-height: 1;
  height: 200px;
  margin-top: 270px;
  margin-bottom: 30px;
  padding-top: 10px;
  display: none;
}

#instructions ul {
  list-style: none;
}

.controls-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(4, 80px);
  width: 360px;
  height: 320px;
  margin-top: 100px;
}

.control {
  width: 80px;
  height: 60px;
  justify-self: center;
  background-color: Transparent;
  border: none;
  cursor: pointer;
}

#btn-up,
#btn-down,
#btn-pause,
#btn-speed {
  align-self: end;
}

#btn-right,
#btn-left {
  align-self: center;
}

#btn-start,
#btn-info {
  align-self: start;
}

#btn-up {
  grid-column: 2;
  grid-row: 1;
}

#btn-down {
  grid-column: 2;
  grid-row: 3;
}

#btn-right {
  grid-column: 3;
  grid-row: 2;
}

#btn-left {
  grid-column: 1;
  grid-row: 2;
}

#btn-start {
  grid-column: 3;
  grid-row: 4;
}

#btn-pause {
  grid-column: 2;
  grid-row: 4;
}

#btn-info {
  grid-column: 1;
  grid-row: 4;
}
